<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300|Open+Sans:300|Oxygen|Material+Icons"
        rel="stylesheet">
</head>


<body>
    <h2> Stutern DATASCI_08 </h2>
    <div class="">
        <div class="row">
            <div class="col-sm-1"></div>

            <div class="col-sm-10">
                <center>
                    <h3>Text Summarization Project</h3>
                    <p> <b>Models</b>: Fb_Bart-large - Google_T5-base</p>
                </center>
                <div class="overlay">
                    <div class="spinner-border text-primary" role="status"><span class="sr-only">Be calming down...</span></div>
                </div>

                <h4> Input Text </h4>
                <textarea class="form-control txt_input"
                    id="txt_input">Passion in this sense is just ego. Pure and plain destructive ego. It’s self-absorption at the expense of reality. It’s a disease caught by countless entrepreneurs, authors, chefs, business owners, politicians, and designers that you’ve never heard of—and never will hear of, because they sunk their own ships before they’d hardly left the harbor. Like every other dilettante, they had passion and lacked something else. To be clear, I’m not talking about caring. I’m talking about passion of a different sort—unbridled enthusiasm, our will­ingness to pounce on what’s in front of us with the full mea­sure of our zeal, the “bundle of energy” that our teachers and gurus have assured us is our most important asset. It is that burning, unquenchable desire to start or to achieve some vague, ambitious, and distant goal. This seemingly innocuous motivation is so far from the right track it hurts.</textarea>
                <h4> Parameters </h4>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="input_model">Model</label>
                        <select id="input_model" class="form-control">
                            <option selected>BART</option>
                            <option>T5</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="max_words" id="label_max_words"># words in summary: 100</label>
                        <input type="range" class="custom-range" min="50" max="200" value="100" step="10" id="max_words">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="num_beams" id="label_num_beams"># beam search: 4</label>
                        <input type="range" class="custom-range" min="1" max="20" value="4" step="1" id="num_beams">
                    </div>

                    <div class="form-group col-md-3">
                        <label></label>
                        <button type="button" class="btn btn-primary btn-lg btn-block"
                            id="btn-process">Hit me!</button>
                    </div>
                </div>

                <h4> Summary </h4>
                <textarea class="form-control txt_summary" id="input_summary" readonly> </textarea>


            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
	<footer class="footer gray-bg">
	
				<a href="">© Text Summarizer 2020</a> <br>
				<a target = "_blank" href="http://github.com/ndcharles">Ndcharles(GitHub profile)</a>
	</footer>
</body>

</html>